.ir {
 background-color: transparent;
 border: 0;
 overflow: hidden;
 *text-indent: -9999px;
}

.ir:before {
 content: "";
 display: block;
 width: 0;
 height: 150%;
}

.hidden {
 display: none !important;
 visibility: hidden;
}

.visuallyhidden {
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
 clip: auto;
 height: auto;
 margin: 0;
 overflow: visible;
 position: static;
 width: auto;
}

.invisible {
 visibility: hidden;
}

@mixin clearfix{
	*zoom: 1;
	&:before, &:after{
		content: " ";
		display: table;
	}
	&:after{
		clear: both;
	}
}

@mixin flex{
  display: -webkit-flex;
  display: flex;
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%hide-text{
  overflow:hidden;
  text-indent:-9000px;
  display:block;
}

.centered{
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@mixin ellipsis($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin transition($duration) {
  -webkit-transition: all $duration ;
    -moz-transition: all $duration ;
    -ms-transition: all $duration ;
    -o-transition: all $duration ;
    transition: all $duration ;
}

%lato{
  font-family: 'Lato', sans-serif;
}


.beta-notice{
  width: 100%;
  padding: 15px 30px;
  background-color: $color-yellow;
  color: #5f5f5f;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
