.pagination{
  color: #464646;
  font-size: 16px;
  @extend %clearfix;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  li{
    cursor: default;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 7px 1px;

    &.active, &:hover{
      background-color: #fff484;
    }

    a, span{
      padding: 6px 10px;
      line-height: 1;
    }
  }

  a{
    color: #464646;
    text-decoration: none;
  }
}
