.query-header{
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #737373;
  margin-bottom: 15px;

  &__term{
    font-weight: bold;
  }
}

.result-list{
  @extend %clearfix;
  margin-bottom: 15px;
  margin-top: 0;
}
