.query-header{
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #737373;
  margin-bottom: 15px;

  &__term{
    font-weight: bold;
  }
}

.result-list{
  @extend %clearfix;
  margin-bottom: 15px;
  margin-top: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice{
  border: none;
  background: $color-yellow;
  padding: 5px;
  color: #454545;
  font-size: 14px;
  margin-top: 3px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    float: right;
    margin-left: 4px;
    color: #737373;
    font-weight: 300;
    line-height: 1;
    font-size: 19px;
}

.page-home, .page-search-results{
  .select2-container{
    height: 45px;
    border: none;
    background-color: #f8f8f8;
    border-radius: 0;
    padding: 5px 8px;
    font-size: 16px;
    color: #454545;
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple{
    border: none;
  }
  .select2-container--default .select2-selection--multiple{
    background: none;
    border: none;
  }
}

.page-suggest{
  .select2-container--default .select2-selection--multiple,
  .select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    padding: 3px 6px;
    min-height: 43px;
  }
}






.select2-container--open .select2-dropdown--below{
  top: 0;
  border: none;
  border-top: 10px solid white !important;
  max-width: 270px;
  left: 13px;
}

.select2-container--default .select2-results > .select2-results__options {
 max-height: 183px;
}

.select2-container--default .select2-results__group{
  background-color: $color-yellow;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

body > .select2-container{
  background-color: transparent;
}

.select2-container--default .select2-results__option .select2-results__option{
  padding-left: 6px;
  background-color: #f8f8f8;
  color: #454545;
  transition: 200ms;
  &:nth-child(even){
    background-color: #efefef;
  }
  &:hover{
    opacity: .75;
    transition: 200ms;
  }

  &[aria-selected="true"]{
    font-weight: 500;
  }
}
