@import "bootstrap_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.td-actions{
  min-width: 165px;
}

.delete-form{
  display: inline-block;
}

.table-shops > thead > tr > th, .table-shops > thead > tr > td,
.table-shops > tbody > tr > th, .table-shops > tbody > tr > td,
.table-shops > tfoot > tr > th, .table-shops > tfoot > tr > td{
  vertical-align: middle;
}

.table-thumb{
  height: 50px;
  max-height: 50px;
  width: auto;
}

.sel-shop-services{
  min-height: 200px;
  padding: 6px 2px;
  margin-bottom: 15px;
  option{
    padding: 5px;
  }
}

.map{
  width: 100%;
  height: 260px;
  margin-bottom: 15px;
}


.unstyled-list{
  list-style-type: none;
  padding-left: 14px;
}
