@charset "UTF-8";
/* ==========================================================================
   Se Imprime
   ========================================================================== */

// Imports
@import "variables";
@import "helpers";
@import "pagination";
@import "search";


*, *:before, *:after {
  -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
 }


::-moz-selection { background: $color-yellow; }
::selection { background: $color-yellow; }

a{
  color: #fe0f0f;
}

body{
  height: 100%;
  background: url(/img/bg.png);
  @extend %lato;
  font-weight: 300;
  color: $color-body;
  margin: 0;
}

h1{
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 50px;
  color: #464646;
  font-weight: 300;
}

input[type="submit"]{
  -webkit-appearance: none;
}

.default-page{
  h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    color: #464646;
  }

  h2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
  }

  a{
    color: #fe0f0f;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.text-input{
  background-color: #f8f8f8;
  font-weight: 300;
  padding: 5px 8px;
  border: 0;
  height: 45px;

  &::-webkit-input-placeholder { color:a1a1a1; }
  &::-moz-placeholder { color:#a1a1a1; } /* firefox 19+ */
  &:-ms-input-placeholder { color:#a1a1a1; } /* ie */
  &:-moz-placeholder { color:#a1a1a1; }
  &:-placeholder { color:#a1a1a1; }

}

.btn-green{
  @include transition(300ms);
  $green : #68c69d;

	text-transform: uppercase;
  background-color: $green;
  color: #FFF;
  font-size: 25px;
  height: 45px;
  border: 0;
  padding: 10px;

  &:hover{
    background-color: lighten($green, 10%);
  }
  &:active{
    background-color: darken(#68c69d, 10%);
    text-shadow: 2px 2px 0px #CCC;
  }
}

.inline-block-list{

  list-style: none;

  li{
      display: inline-block;
  }
}

.main-wrap{

  margin: 0 auto;
  max-width: 1005px;
  height: 100%;
  background-color: #FFF;
  padding: 45px 35px 0px 35px;
	overflow: hidden;
}

.site-header{
    float: left;
    width: 100%;
    margin-bottom: 70px;
}

.site-logo{
  width: 365px;
  display: block;
  margin: 0 auto;
  float: none;
  background: url(/img/logo.png) no-repeat;
	background-size: contain;
  display: block;
  text-indent: -9999em;
  height: 70px;

  h1{
    margin: 0;
  }

  @media screen and (max-width: 400px){
		width: 320px;
	}

  @media screen and (min-width: 768px) {
    float: left;
  }
}

.container{
  padding: 0 15px;

  &--padded{
    @media(min-width: 640px){
      padding: 0 150px;
    }
  }
}

.site-logo-small{
	width: 148px;
  display: inline-block;
	height: 21px;
	text-indent: -9999em;
	background: url(/img/logo-small.png) no-repeat;
}

.site-nav{

  text-align: center;

  ul{
    margin-left: 10px;
    padding-left: 0;
  }

  li::after{
    content: "·";
  }

  li:last-child::after{
    content: none;
  }

  a.nav-item{
    @include transition(100ms);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: $color-body;

    &.selected, &:hover{
      background: url(/img/nav-sel.png) no-repeat;
      background-size: 100%;
      background-position: 50% 50%;
    }
  }

  @media (min-width: 800px){
    text-align: right;
  }

}

@media screen and (max-width: 56em) { /* ~810px */
  .main-wrap{
      padding: 10px 0px;
  }
}

@media screen and (max-width: 900px) {

  .site-header{
    margin-bottom: 40px;
  }
}

.home-search{

    width: 100%;
    float: left;
    margin-bottom: 30px;

    .title{
      text-transform: uppercase;
      color: #737373;
      margin: 0 0 16px 0;
    }

    .by-name, .by-type, .or{
      float: left;
      display: inline-block;
    }

    .or.title{
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 50px;
      margin-bottom: 0;
    }

    .col{
      margin-bottom: 15px;
    }

    .text-input{
      width: 335px;
      @include transition(200ms);
      font-size: 16px;
      font-weight: 200;
    }

    .do-search{
      display: inline-block;
      margin-top: 34px;
      font-weight: 300;
      float: right;
      width: 185px;
      line-height: 1;
      cursor: pointer;
    }

    @media screen and (max-width: 980px) {

      .text-input{
          width: 250px;
      }

    }

    @media screen and (max-width: 795px) {

        .col, .or{
            width: 90%;
            margin-left: 20px;
        }

        .text-input{
            width: 100%;
        }

        .do-search{
            width: 90%;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
            float: left;
        }

        .or.title{
            margin-left: 20px;
            margin-bottom: 10px;
            margin-top: 0;
        }

    }

} /* end home-search */

.home-workflow{
	@include flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;

  width: 100%;
	paddin: 0 5%;
  height: 135px;
  margin-bottom: 30px;
  float: left;

  .col{
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;

		height: 130px;
		width: 130px;
    text-align: center;

		background-position: 50% top;
		background-repeat: no-repeat;
    background-size: 80%;

		@media screen and (min-width: 768px){
			background-size: 96px;
		}

		&.busca{
			background-image: url(/img/icon-busca.svg);
		}
		&.subraya{
			background-image: url(/img/icon-subraya.svg);
		}
		&.comunicate{
			background-image: url(/img/icon-comunicate.svg);
		}
		&.presupuesta{
			background-image: url(/img/icon-presupuesta.svg);
		}

		&.arrow{
			background-image: url(/img/arrow.png);
			background-position: 100% 36%;

			@media screen and (max-width: 690px) {
				background-image: url(/img/arrow-small.png);
				width: 54px;
			}

			@media screen and (max-width: 520px) {
				width: 0;
			}
		}

  }

  .item{
		line-height: 240px;
    text-transform: uppercase;
    font-weight: bold;
		text-align: center;
		width: 100%;
		display: inline-block;

		@media screen and (max-width: 690px){
			font-size: 12px;
		}
		@media screen and (max-width: 400px){
			font-size: 10px;
			font-weight: normal;
		}
  }

} /* end home-workflow */

.lists{
  $color-yellow : #fff484;
	@media screen and (min-width: 768px){
		@include flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	width: 100%;
	margin-bottom: 30px;

	.half-col{
		@media screen and (min-width: 768px){
			-webkit-order: 0;
			-ms-flex-order: 0;
			order: 0;
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			-webkit-align-self: auto;
			-ms-flex-item-align: auto;
			align-self: auto;
			max-width: 48%;

		}
		width: 100%;
    padding: 0;
    overflow: hidden;
	}

  .full-col{
    width: 100%;
    padding: 0;
    overflow: hidden;
  }

  .list__title{
		background-color: $color-darkgray;
		font-size: 18px;
		color: white;
		text-transform: uppercase;
		padding: 10px 12px;
		margin: 0 0 15px 0;
  }

	ul{
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			margin: 0 0 5px 0;
		}
	}

	.comments{
		.comment{
			@include transition(300ms);
			background-color: $color-yellow;
			padding: 12px;
			width: 100%;
			display: inline-block;

			.info-left{
				float: left;
				width: 68%;
				margin: 0;
				@media screen and (max-width: 400px){
					width: 100%;
				}
			}

			.info-right{
				float: left;
				width: 30%;
				min-width: 100px;
				margin: 0 0 0 2%;
				text-align: right;
				@media screen and (max-width: 400px){
					text-align: left;
					margin: 0;
					width: 100%;
					br  {
					    content: ' '
					}
					br:after {
					    content: ' '
					}
				}

			}

			.name{
				@include ellipsis(100%);
				margin: 0;
				text-transform: uppercase;
				font-size: 16px;
			}

			.on{
				font-size: 14px;
				font-weight: 100;
				.shop{
					color: $color-red;
					text-decoration: none;
				}
			}

			.date{
				font-weight: 100;
				font-size: 14px;
				@media screen and (max-width: 400px){
					font-size: 12px;
				}
			}
		}
	}

} /* end lists */

.ranking{
  margin-left: 0;
  padding: 0;

  .shop-strip{
    display: inline-block;
    width: 100%;
    float: left;
  }

  .shop-strip .info, a.info{

    @include transition(100ms);
    background-color: $color-yellow;
    color: $color-body;
    text-decoration: none;
    padding: 8px;
    width: 100%;
    float: left;
    margin: 0 0 6px 0;

    &--featured{
      background-color: #e4ffd7
    }
  }

  .shop-strip:nth-child(2) .info{
    background-color: lighten($color-yellow, 3%);
  }
  .shop-strip:nth-child(3) .info{
    background-color: lighten($color-yellow, 6%);
  }
  .shop-strip:nth-child(4) .info{
    background-color: lighten($color-yellow, 9%);
  }
  .shop-strip:nth-child(5) .info{
    background-color: lighten($color-yellow, 12%);
  }
  .shop-strip:nth-child(6) .info{
    background-color: lighten($color-yellow, 13%);
  }
  .shop-strip:nth-child(7) .info{
    background-color: lighten($color-yellow, 14%);
  }
  .shop-strip:nth-child(8) .info{
    background-color: lighten($color-yellow, 15%);
  }
  .shop-strip:nth-child(9) .info{
    background-color: lighten($color-yellow, 16%);
  }
  .shop-strip:nth-child(10) .info{
    background-color: lighten($color-yellow, 17%);
  }
  .shop-strip:nth-child(n+10) .info{
    background-color: lighten($color-yellow, 20%);
  }

  .shop-strip .info{
    &:hover, &:active{
      @include transition(100ms);
      background-color: #68c69d;
      color: white;
    }
  }

  .name{
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
  }

  .data{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
  }

  .rank{
    float: left;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    line-height: 66px;
    width: 18%;
    margin-left: 2%;
    background-color: #F6F6F6;
  }
}

.separator{
	@include clearfix;
	border: none;
  height: 1px;
	color: $color-lightgray;
	background: $color-lightgray;
	width: 100%;
	margin: 0 0 30px 0;
}

.banners{
	text-align: center;
  width: 100%;
	margin-bottom: 30px;

	@media screen and (min-width: 820px){
		@include flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.banner{
		@include transition(300ms);
    width: 290px;
		height: 125px;
		background-size: cover;
		background-position: center center;
		outline: none;
		display: inline-block;
		border: 1px solid $color-lightgray;

		@media screen and (min-width: 820px){
			-webkit-order: 0;
			-ms-flex-order: 0;
			order: 0;
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			-webkit-align-self: auto;
			-ms-flex-item-align: auto;
			align-self: auto;
		}

		&:hover, &:active{
			box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.83);
		}
	}
}

.footer{
	width: 100%;
	margin-bottom: 40px;

	@include clearfix;
	.copy{
		font-size: 12px;
		line-height: 19px;
		margin-left: 10px;
    font-weight: 100;
		@media (min-width: 429px){
			font-size: 14px;
		}
	}

  .left{
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    @media (min-width: 800px){
      float: left;
      width: 400px;
      text-align: left;
    }
  }

  .pages{
    display: block;
    margin: 15px 0;
    float: left;
    width: 100%;
    @media (min-width: 800px){
      float: left;
      width: 535px;
      width: calc(100% - 400px);
      margin-top: 2px;
      text-align: right;
    }
  }

	.site-nav{
		ul{
			margin: 0;
		}
	}
}

/* Page layout with sidebar */

.content-wrap{
  width: 100%;
  @include flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  @media screen and (min-width: 768px){
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .main-content{
    margin-bottom: 60px;
    width: 100%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    @media screen and (min-width: 768px){
      // Banners sidebar.
      // -webkit-flex: 0 1 70%;
      // -ms-flex: 0 1 70%;
      // flex: 0 1 70%;
    }

    .shop, .main-content{
      float: left;
    }

    .shop{

      width: 100%;

      .shop-logo{
        width: 100%;
        height: auto;

        @media screen and (min-width: 590px){
          width: 200px;
          height: 115px;
        }
      }

      .info{
        background-color: $color-yellow;
        padding: 10px;
        margin-bottom: 10px;
        float: left;
        width: 100%;
        @media screen and (min-width: 590px){
          width: 87%;
          height: auto;
          overflow: hidden;
        }

        .logo{
          float: none;
          display: block;
          margin: 0 auto;

          @media screen and (min-width: 580px){
            float: left;
            margin-right: 10px;
          }
        }

        .detail{
          .name{
            margin: 0;
            text-transform: uppercase;
            font-size: 24px;
            text-align: center;
            @media screen and (min-width: 480px){
              text-align: left;
            }

          }
          .data{
            margin: 0;
            font-size: 14px;
          }

          a{
            $c : #fe4242;
            color: $c;
            @include transition(200ms);

            &:visited{
              color: darken($c, 10%);
            }
            &:hover{
              color: lighten($c, 10%);
            }
          }
        }
      }

      .title{
        background-color: #626262;
        color: white;
        text-transform: uppercase;
        font-weight: 200;
        padding: 6px 8px;
      }

      .ranking{
        @media screen and (min-width: 480px){
            width: 12%;
            margin-left: 1%;
            float: left;
            margin-bottom: 5px;
        }

        .title{
          font-size: 12px;
        }
        .rank{
          font-size: 28px;
          text-align: center;
          font-weight: bold;
        }
      }

      .map-mini{
        @media screen and (min-width: 480px){
            width: 12%;
            margin-left: 1%;
            float: left;
            cursor: pointer;
        }
      }

      .services{
        width: 100%;
        float: left;
        margin-bottom: 10px;

        .title{
          margin-bottom: 5px;
        }
      }

      .comment-section{
        width: 100%;
        float: left;

        .title{
          margin-bottom: 5px;
        }

        .col{
          .title{
            text-transform: none;
            background-color: #f8f8f8;
            color: #626262;
            padding: 5px;
            font-weight: 300;
            .lighter{
              color: #a4a4a4;
            }
          }
        }
      }


    } /* end shop*/

  } /* end main-content */

  .shop-details{
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .shop-col{
    width: 100%;
    padding: 0;

    @media screen and (min-width: 560px){
      width: 33.333%;
      padding: 0 0 0 10px;
      float: left;

      &:first-child{
        padding-left: 0;
      }

      &:last-child{
        padding: 0 0 0 10px;
      }
    }
  }

  .shop-widget{

  }
  .shop-widget__title{
    text-transform: uppercase;
    background-color: #fff484;
    color: #464646;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 8px;
    margin-bottom: 0;
  }

  .shop-widget__list{
    margin: 0;
    padding: 0;
    font-size: 12px;
    li{
      padding: 2px 0 2px 8px;
      list-style: none;
      text-transform: uppercase;
    }
    li:nth-child(even){
      background-color: #f8f8f8;
    }
    a{
      text-decoration: none;
      color: #464646;
    }
  }

  .sidebar{

    width: 100%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 768px){
      -webkit-flex: 0 1 30%;
      -ms-flex: 0 1 30%;
      flex: 0 1 30%;
      margin-left: 20px;
    }

    .banner{
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 8px;

      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
}


.shop-map-modal{
  width: 95%;
  height: 95%;
  position: fixed;
  background-color: #333;
  left:0;
  top: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: 300ms;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:before{
    position: absolute;
    width: 110%;
    left: -5%;
    height: 114%;
    top: -10%;
    background: rgba(0, 0, 0, 0.58);
    content: " ";
  }

  &.active{
    transition: 300ms;
    opacity: 1;
    pointer-events: all;
    z-index: 10;
  }
}

.shop-map{
  width: 100%;
  height: 100%;
}

.btn-close-map{
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 35px;
  border: none;
  text-align: center;
  z-index: 11;
  background-color: $color-yellow;
  width: 60px;
  height: 60px;
  cursor: pointer;
}


.form-contact{
  max-width: 690px;
}

.form-row{
  margin: 0 -15px;
  @include clearfix;

  label{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 5px;
  }

  textarea, input[type="text"], input[type="email"]{
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    padding: 9px 12px;
    font-size: 16px;
    color: #333;
    width: 100%;
  }

  textarea{
    height: 110px;
    resize: vertical;
  }

  .form-item{
    padding: 0 15px;
    margin-bottom: 15px;
    &--half{
      @media screen and (min-width: 769px){
        width: 50%;
        float: left;
      }
    }
  }
}

.btn-yellow-rounded{
  @include transition(300ms);
  text-transform: uppercase;
  background-color: $color-yellow;
  color: #FFF;
  border-radius: 5px;
  border: 0;
  padding: 10px 25px;
  color: #464646;
  cursor: pointer;
  font-weight: normal;

  &:hover{
    background-color: lighten($color-yellow, 5%);
  }
  &:active{
    background-color: darken($color-yellow, 10%);
    text-shadow: 2px 2px 0px #CCC;
  }
}

.btn-send{
  font-size: 20px;
  margin: 0 auto;
  padding: 10px 45px;
  width: 100%;
  display: block;
  @media (min-width: 500px){
    width: auto;
    min-width: 280px;
  }
}

.form-errors{

  ul{
    padding: 15px;
    background-color: #ffebee;
    margin: 15px 0;
    list-style: none;
  }
}

.select-yellow{
  width: 100%;
  background-color: $color-yellow;
  text-transform: uppercase;
  height: 38px;
  font-size: 18px;
  font-weight: 300;
  border: none;
}

.droppable{
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  border: 3px dashed #ccc;
  height: 100px;
  background-image: url(/img/logo-placeholder.svg);
  background-repeat: no-repeat;
  background-position: center left 15px;
  background-size: auto 69%;
  pointer-events: none;

  .logo{
    width: 100%;
    height: 100%;
    pointer-events: all;
    cursor: pointer;
    opacity: 0.000000001;
  }

  &:hover, &.dragover{
    border-color: $color-green;
    transition: 200ms;
  }

  &.ok{
    background-color: $color-green;
    border: 3px solid $color-green;
    transition: 200ms;
    color: white;
    background-image: url(/img/icon-tick.svg);
    background-size: 45px auto;
  }

  &.error{
    border: 3px dashed $color-red;
    transition: 200ms;
    color: $color-red;
  }

  .data{
    pointer-events: none;
    @extend %centerer;
    width: 100%;
    padding-left: 80px;
    padding-right: 15px;
    font-size: 13px;
    @media (min-width: 480px){
      font-size: 14px;
    }
  }

  .joya{
    position: absolute;
    font-size: 36px;
    right: 15px;
    top: 21px;
  }
}

.container-404{
  margin: 0 auto;
  position: relative;
  @media(min-width: 580px){
    padding: 0 35px;
  }
}

.img-404{
  display: block;
  margin: 0 auto;
  opacity: .5;
  @media(min-width: 680px){
    opacity: 1;
    display: inline-block;
    max-width: 60%;
  }
}

.title-404{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: none;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  width: 100%;
  padding: 0 25px;
  br{
    display: none;
    @media(min-width: 680px){
      display: block;
    }
  }

  @media(min-width: 680px){
    font-size: 35px;
    position: absolute;
    max-width: 100%;
    left: 162px;
    top: 110px;
    transform: translate(0, 0);
  }
}

.form-row .lowercase{
  text-transform: none;
}

.about-logos{
  text-align: center;
  @include clearfix;

  .project-of{
    display: block;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      display: inline-block;
      margin-right: 20px;
    }
  }

  .logo-link{
    display: block;
    margin: 0 auto;
    max-width: 150px;
    vertical-align: middle;

    @media (min-width: 768px) {
      display: inline-block;
      &.logo--grmn{
        margin-right: 20px;
      }
    }

    img, svg{
      max-width: 200px;
      max-width: 100%;
    }

  }
}
