/* ==========================================================================
   Se Imprime
   ========================================================================== */

.ir {
 background-color: transparent;
 border: 0;
 overflow: hidden;
 *text-indent: -9999px;
}

.ir:before {
 content: "";
 display: block;
 width: 0;
 height: 150%;
}

.hidden {
 display: none !important;
 visibility: hidden;
}

.visuallyhidden {
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
 clip: auto;
 height: auto;
 margin: 0;
 overflow: visible;
 position: static;
 width: auto;
}

.invisible {
 visibility: hidden;
}

.clearfix{
	*zoom: 1;
	&:before, &:after{
		content: " ";
		display: table;
	}
	&:after{
		clear: both;
	}
}

.flex{
  display: -webkit-flex;
  display: flex;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
 }

.ellipsis(@width) {
  width: @width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transition(@duration) {
  -webkit-transition: all @duration ;
    -moz-transition: all @duration ;
    -ms-transition: all @duration ;
    -o-transition: all @duration ;
    transition: all @duration ;
}

@img-path: '../img';

.lato{
    font-family: 'Lato', sans-serif;
}

@color-body: #464646;
@color-lightgray: #E8E9E8;
@color-darkgray: #454545;
@color-red: #ff4d4d;
@color-yellow: #fff484;

html{

}

body{
    height: 100%;
    background: url('@{img-path}/bg.png');
    .lato;
    font-weight: 300;
    color: @color-body;
}

img {
  max-width: 100%;
  height: auto;
}

.text-input{
  background-color: #f8f8f8;
  font-weight: 300;
  padding: 5px 8px;
  border: 0;
  height: 45px;

  &::-webkit-input-placeholder { color:a1a1a1; }
  &::-moz-placeholder { color:#a1a1a1; } /* firefox 19+ */
  &:-ms-input-placeholder { color:#a1a1a1; } /* ie */
  &:-moz-placeholder { color:#a1a1a1; }
  &:-placeholder { color:#a1a1a1; }

}

.btn-green{
  .transition(300ms);
  @green : #68c69d;

	text-transform: uppercase;
  background-color: @green;
  color: #FFF;
  font-size: 25px;
  height: 45px;
  border: 0;
  padding: 10px;

  &:hover{
    background-color: lighten(@green, 10%);
  }
  &:active{
      background-color: darken(#68c69d, 10%);
      text-shadow: 2px 2px 0px #CCC;

  }
}

.inline-block-list{

    list-style: none;

    li{
        display: inline-block;
    }
}

.main-wrap{

  margin: 0 auto;
  max-width: 1005px;
  min-height: 1100px;
  height: 100%;
  background-color: #FFF;
  padding: 45px 35px 0px 35px;
	overflow: hidden;
}

.site-header{
    float: left;
    width: 100%;
    margin-bottom: 6.7em;
}

.site-logo{
  width: 365px;
  display: block;
  margin: 0 auto;
  float: none;
	@media screen and (max-width: 400px){
		width: 320px;
	}
  background: url('@{img-path}/logo.png') no-repeat;
	background-size: contain;
  display: block;
  text-indent: -9999em;
  height: 70px;

  h1{
      margin: 0;
  }

  @media screen and (min-width: 768px) {
    float: left;
  }


}

.site-logo-small{
	width: 148px;
	height: 21px;
	float: left;
	text-indent: -9999em;
	background: url('@{img-path}/logo-small.png') no-repeat;
}

.site-nav{

  text-align: center;

  ul{
    margin-left: 10px;
    padding-left: 0;
  }

  li::after{
    content: "·";
  }

  li:last-child::after{
    content: none;
  }

  a.nav-item{
    .transition(100ms);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: @color-body;

    &.selected, &:hover{
      background: url('@{img-path}/nav-sel.png') no-repeat;
      background-size: 100%;
      background-position: 50% 50%;
    }
  }

  @media screen and (min-width: 768px) {
    float: right;
    text-align: left;
  }
}

@media screen and (max-width: 56em) { /* ~810px */
  .main-wrap{
      padding: 10px 0px;
  }
}

@media screen and (max-width: 900px) {

    .site-header{
        margin-bottom: 40px;
    }
}

.home-search{

    width: 100%;
    float: left;
    margin-bottom: 30px;

    .title{
        text-transform: uppercase;
        color: #737373;
        margin: 0 0 16px 0;
    }

    .by-name, .by-type, .or{
        float: left;
        display: inline-block;
    }

    .or.title{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 50px;
        margin-bottom: 0;
    }

    .col{
        margin-bottom: 15px;
    }

    .text-input{
        width: 335px;
        .transition(200ms);
    }

    .do-search{
        display: inline-block;
        margin-top: 37px;

        float: right;
        width: 185px;
    }

    @media screen and (max-width: 980px) {

        .text-input{
            width: 250px;
        }

    }

    @media screen and (max-width: 795px) {

        .col, .or{
            width: 90%;
            margin-left: 20px;
        }

        .text-input{
            width: 100%;
        }

        .do-search{
            width: 90%;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
            float: left;
        }

        .or.title{
            margin-left: 20px;
            margin-bottom: 10px;
            margin-top: 0;
        }

    }

} /* end home-search */

.home-workflow{
	.flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;

  width: 100%;
	paddin: 0 5%;
  height: 135px;
  margin-bottom: 30px;
  float: left;

  .col{
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;

		height: 130px;
		width: 130px;
    text-align: center;

		background-position: 50% top;
		background-repeat: no-repeat;
    background-size: 80%;

		@media screen and (min-width: 768px){
			background-size: 96px;
		}

		&.busca{
			background-image: url('@{img-path}/busca.png');
		}
		&.subraya{
			background-image: url('@{img-path}/subraya.png');
		}
		&.comunicate{
			background-image: url('@{img-path}/comunicate.png');
		}
		&.presupuesta{
			background-image: url('@{img-path}/presupuesta.png');
		}

		&.arrow{
			background-image: url('@{img-path}/arrow.png');
			background-position: 100% 36%;

			@media screen and (max-width: 690px) {
				background-image: url('@{img-path}/arrow-small.png');
				width: 54px;
			}

			@media screen and (max-width: 520px) {
				width: 0;
			}
		}

  }

  .item{

		line-height: 240px;
    text-transform: uppercase;
    font-weight: bold;
		text-align: center;
		width: 100%;
		display: inline-block;

		@media screen and (max-width: 690px){
			font-size: 12px;
		}
		@media screen and (max-width: 400px){
			font-size: 10px;
			font-weight: normal;
		}
  }

} /* end home-workflow */

.lists{

	@yellow : #fff484;
	@media screen and (min-width: 768px){
		.flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	width: 100%;
	margin-bottom: 30px;

	.half-col{
		@media screen and (min-width: 768px){
			-webkit-order: 0;
			-ms-flex-order: 0;
			order: 0;
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			-webkit-align-self: auto;
			-ms-flex-item-align: auto;
			align-self: auto;
			max-width: 48%;

		}
		width: 100%;
    padding: 0;
    overflow: hidden;

		.title{
			background-color: @color-darkgray;
			font-size: 18px;
			color: white;
			text-transform: uppercase;
			padding: 10px 12px;
			margin: 0 0 15px 0;
		}
	}

	ul{
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			margin: 0 0 5px 0;
		}
	}

	.ranking{

		.item{
			display: inline-block;
			width: 100%;
			float: left;
		}

		.item .info, a.info{

			.transition(300ms);
			background-color: @yellow;
			color: @color-body;
			text-decoration: none;
			padding: 8px;
			width: 80%;
			float: left;
			margin: 0 0 6px 0;

			&:hover, &:active{
				box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.83);
			}
		}
		.item:nth-child(2) .info{
			background-color: #fff8ac;
		}
		.item:nth-child(3) .info{
			background-color: #fffbcb;
		}
		.item:nth-child(4) .info{
			background-color: #fffcdc;
		}
		.item:nth-child(5) .info{
			background-color: #fffde7;
		}

		.name{
			text-transform: uppercase;
			font-size: 24px;
			margin: 0;
		}

		.data{
			margin: 0;
			font-weight: 100;
			font-size: 14px;
		}

		.rank{
			float: left;
			font-weight: 300;
			font-size: 36px;
			text-align: center;
			line-height: 66px;
			width: 18%;
			margin-left: 2%;
			background-color: #F6F6F6;
		}

	}

	.comments{
		.comment{
			.transition(300ms);
			background-color: @yellow;
			padding: 12px;
			width: 100%;
			display: inline-block;

			&:hover, &:active{
				box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.83);
			}

			.info-left{
				float: left;
				width: 68%;
				margin: 0;
				@media screen and (max-width: 400px){
					width: 100%;
				}
			}

			.info-right{
				float: left;
				width: 30%;
				min-width: 100px;
				margin: 0 0 0 2%;
				text-align: right;
				@media screen and (max-width: 400px){
					text-align: left;
					margin: 0;
					width: 100%;
					br  {
					    content: ' '
					}
					br:after {
					    content: ' '
					}
				}

			}

			.name{
				.ellipsis(100%);
				margin: 0;
				text-transform: uppercase;
				font-size: 16px;
			}

			.on{
				font-size: 14px;
				font-weight: 100;
				.shop{
					color: @color-red;
					text-decoration: none;
				}
			}

			.date{
				font-weight: 100;
				font-size: 14px;
				@media screen and (max-width: 400px){
					font-size: 12px;
				}
			}
		}
	}

} /* end lists */

.separator{
	.clearfix;
	border: none;
  height: 1px;
	color: @color-lightgray;
	background: @color-lightgray;
	width: 100%;
	margin: 0 0 30px 0;
}

.banners{
	text-align: center;
	@media screen and (min-width: 820px){
		.flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	width: 100%;
	margin-bottom: 30px;

	.banner{
		.transition(300ms);

		@media screen and (min-width: 820px){
			-webkit-order: 0;
			-ms-flex-order: 0;
			order: 0;
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			-webkit-align-self: auto;
			-ms-flex-item-align: auto;
			align-self: auto;

		}
		width: 290px;

		height: 125px;
		background-size: cover;
		background-position: center center;
		outline: none;
		display: inline-block;
		border: 1px solid @color-lightgray;


		&:hover, &:active{
			box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.83);
		}

	}

}

.footer{
	width: 100%;
	margin-bottom: 40px;

	.clearfix;
	.copy{
		font-size: 12px;
		line-height: 19px;
		margin-left: 10px;
		@media screen and (min-width: 429px){
			font-size: 14px;
		}

		font-weight: 100;
		float: left;
	}

	.site-nav{
		display: none;
		@media screen and (min-width: 790px){
			float: right;
			display: inline-block;
		}

		ul{
			margin: 0;
		}
	}
}


/* Page layout with sidebar */

.content-wrap{
  width: 100%;
  .flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  @media screen and (min-width: 768px){
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .main-content{
    margin-bottom: 20px;
    width: 100%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    @media screen and (min-width: 768px){
      -webkit-flex: 0 1 70%;
      -ms-flex: 0 1 70%;
      flex: 0 1 70%;
    }

    .shop{

      float: left;

      .shop-logo{
        width: 100%;
        height: auto;

        @media screen and (min-width: 590px){
          width: 200px;
          height: 115px;
        }
      }

      .info{
        background-color: @color-yellow;
        padding: 10px;
        margin-bottom: 10px;
        float: left;
        width: 100%;
        @media screen and (min-width: 590px){
          width: 87%;
          height: 135px;
          overflow: hidden;
        }

        .logo{
          float: none;
          display: block;
          margin: 0 auto;

          @media screen and (min-width: 580px){
            float: left;
            margin-right: 10px;
          }
        }

        .detail{
          .name{
            margin: 0;
            text-transform: uppercase;
            font-size: 24px;
            text-align: center;
            @media screen and (min-width: 480px){
              text-align: left;
            }

          }
          .data{
            margin: 0;
            font-size: 14px;
          }

          a{
            @c : #fe4242;
            color: @c;
            .transition(200ms);

            &:visited{
              color: darken(@c, 10%);
            }
            &:hover{
              color: lighten(@c, 10%);
            }
          }
        }
      }

      .title{
        background-color: #626262;
        color: white;
        text-transform: uppercase;
        font-weight: 100;
        padding-left: 6px;
      }

      .ranking{
        @media screen and (min-width: 480px){
            width: 12%;
            margin-left: 1%;
            float: left;
            margin-bottom: 5px;
        }

        .title{
          font-size: 12px;
        }
        .rank{
          font-size: 28px;
          text-align: center;
          font-weight: bold;
        }
      }

      .map{
        @media screen and (min-width: 480px){
            width: 12%;
            margin-left: 1%;
            float: left;
            cursor: pointer;
        }
      }

      .services{
        width: 100%;
        float: left;
        margin-bottom: 10px;

        .title{
          margin-bottom: 5px;
        }
      }

      .comment-section{
        width: 100%;
        float: left;

        .title{
          margin-bottom: 5px;
        }

        .col{
          .title{
            text-transform: none;
            background-color: #f8f8f8;
            color: #626262;
            padding: 5px;
            font-weight: 300;
            .lighter{
              color: #a4a4a4;
            }
          }
        }
      }


    } /* end shop*/

  } /* end main-content */

  .shop-details{
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .shop-col{
    width: 100%;
    padding: 0 10px;

    @media screen and (min-width: 560px){
      width: 33.333%;
      padding: 0 0 0 10px;
      float: left;

      &:last-child{
        padding: 0 10px 0 10px;
      }
    }
  }

  .shop-widget{

  }
  .shop-widget__title{
    text-transform: uppercase;
    background-color: #fff484;
    color: #464646;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 8px;
    margin-bottom: 0;
  }

  .shop-widget__list{
    margin: 0;
    padding: 0;
    font-size: 12px;
    li{
      padding: 2px 0 2px 8px;
      list-style: none;
      text-transform: uppercase;
    }
    li:nth-child(even){
      background-color: #f8f8f8;
    }
  }

  .sidebar{

    width: 100%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 768px){
      -webkit-flex: 0 1 30%;
      -ms-flex: 0 1 30%;
      flex: 0 1 30%;
      margin-left: 20px;
    }

    .banner{
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 8px;

      img{
        max-width: 100%;
        height: auto;
      }
    }


  }
}
