/* ==== Scroll down to find where to put your styles :) ==== */
/*  HTML5 ✰ Boilerplate  */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font: 12px/1.231 sans-serif;
  *font-size: small;
}
select,
input,
textarea,
button {
  font: 99% sans-serif;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
html {
  overflow-y: scroll;
}
a:hover,
a:active {
  outline: none;
}
ul,
ol {
  margin-left: 2em;
}
ol {
  list-style-type: decimal;
}
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}
textarea {
  overflow: auto;
}
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
body,
select,
input,
textarea {
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
a:hover {
  color: #036;
}
h1 {
  font-size: 150%;
}
/*
    *** FIDAE styles ***
    */
html {
  background: url(../img/bg.jpg) #2e2d32 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #23ff20;
}
.wrapper {
  margin: auto;
  width: 960px;
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden !important;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.right {
  float: right;
}
.left {
  float: left;
}
.strong {
  font-weight: bold;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.medium-transition {
  -webkit-transition: all 200ms ;
  -moz-transition: all 200ms ;
  -ms-transition: all 200ms ;
  -o-transition: all 200ms ;
  transition: all 200ms ;
}
#main-wrapper {
  margin-top: 15px;
}
header {
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 8px solid #23ff20;
  padding-bottom: 10px;
}
header .logo-wrapper {
  margin-top: 7px;
}
.apoyos-top {
  float: right;
  margin-right: 15px;
}
.apoyos-top .apoyo {
  margin-left: 20px;
}
.festival-title-landing {
  margin-top: 30px;
}
.apoyos-footer {
  margin-top: 30px;
  text-align: right;
  margin-right: 15px;
  margin-bottom: 20px;
}
.landing-tri {
  margin-bottom: 20px;
  display: block;
}
#contacto-wrapper {
  text-align: right;
  padding-top: 25px;
}
.gray-box,
a.gray-box {
  padding: 3px 3px 1px;
  color: #FFF;
  background-color: #7F8184;
  text-decoration: none;
}
#contact-link:hover {
  text-shadow: 1px 1px #666;
}
#contact-date {
  margin-top: 22px;
  color: #888;
  font-weight: bold;
}
#contact-header {
  height: 160px;
  margin-bottom: 15px;
}
#contact-header-body {
  margin-top: 60px;
}
#contact-header-body-right {
  text-align: right;
  padding-bottom: 9px;
  color: #767777;
  font-size: 90%;
  line-height: 15px;
}
#contact-header-body-bottom {
  border-bottom: 4px double #666666;
  width: 730px;
  display: inline-block;
  float: right;
}
.category-item.active {
  font-weight: bold;
}
#category-items-wrapper a:link,
#category-items-wrapper a:visited {
  text-decoration: none;
  font-size: 95%;
  color: #888;
}
.category-item:hover {
  font-weight: bold;
}
#category-items-wrapper {
  word-spacing: 6px;
  float: left;
  width: 220px;
  margin-left: 10px;
  font-size: 95%;
  color: #888;
  line-height: 15px;
}
#left-col-filtrar {
  float: left;
  width: 45px;
}
#content-wrapper {
  min-height: 400px;
  margin-top: 5px;
}
footer {
  font-size: 80%;
  padding-top: 5px;
}
footer .double-border {
  border-top: 4px double #23ff20;
  margin-bottom: 5px;
}
#footer-left {
  line-height: 17px;
}
#footer-right {
  float: right;
  margin-right: 5px;
}
footer a,
footer a:visited,
footer a:hover,
footer a:active {
  -webkit-transition: all 200ms ;
  -moz-transition: all 200ms ;
  -ms-transition: all 200ms ;
  -o-transition: all 200ms ;
  transition: all 200ms ;
  text-decoration: none;
  color: #23ff20;
}
footer a:hover {
  color: #ecffec;
  text-decoration: underline;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 42px solid transparent;
  border-right: 42px solid transparent;
  border-bottom: 42px solid black;
}
/* ISOTOPE styles */
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: .9s;
  -moz-transition-duration: .9s;
  /* -o-transition-duration: .9s;*/

  transition-duration: .9s;
}
.triangle-title {
  text-transform: uppercase;
  font-weight: bold;
  word-wrap: break-word;
}
.triangle-content {
  position: absolute;
  bottom: 10px;
  color: #FFF;
  text-align: center;
  margin-left: 55px;
  width: 90px;
  visibility: hidden;
}
a.triangle {
  text-decoration: none;
}
.triangle:hover .triangle-content {
  visibility: visible;
}
.fade:hover img {
  opacity: .2;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  /* -o-transition-duration: .5s;*/

  transition-duration: .5s;
}
.fade:hover .triangle-content {
  color: black;
}
.triangle-content hr {
  margin: 2px;
}
/* Single Event / Venue styles */
aside#sidebar {
  width: 185px;
  font-size: 90%;
}
#sidebar div,
#sidebar p {
  padding-left: 5px;
}
#sidebar .pink {
  background-color: #FEEBF2;
}
#main-info h2 {
  font-size: 100%;
}
#main-info {
  padding-bottom: 15px;
  padding-top: 5px;
  margin-bottom: 10px;
}
hr.simple {
  margin-bottom: 5px;
  margin-top: 5px;
  border-color: #666;
  margin-left: -5px;
  border-width: 1px;
  height: 1px;
  border-style: solid;
  border-bottom: none;
}
hr.double {
  margin-bottom: 5px;
  margin-top: 0px;
  border-color: #666;
  margin-left: -5px;
  height: 4px;
  border-style: double;
  border-left: none;
  border-right: none;
}
/* View Event */
#left-content {
  border-right: 1px solid black;
  margin-bottom: 5px;
}
#secondary-info p {
  margin-bottom: 5px;
}
#content-bottom-right-wrap {
  margin-right: 5px;
}
#content-bottom-right h1 {
  text-transform: uppercase;
  margin-top: 20px;
}
#content-bottom-right {
  min-height: 350px;
}
#content-bottom-text {
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
  text-align: justify;
  font-size: 90%;
}
.view-event-triangle {
  cursor: pointer;
}
.view-event-triangle.active {
  opacity: .5;
}
.view-event-main-image {
  margin-top: 18px;
}
.view-event-main-image.active {
  display: block;
}
.view-event-main-image.inactive {
  display: none;
}
.form_buttons {
  width: 402px;
  margin-left: 200px;
}
.default h1 {
  margin-top: 15px;
  margin-bottom: 20px;
}
#main-section {
  margin-bottom: 15px;
  max-height: 1500px;
}
/* Contact form and buttons */
.contact-form p {
  padding-bottom: 10px;
}
#contact-form textarea {
  width: 400px;
}
.contact-data {
  display: none;
  float: right;
  text-transform: uppercase;
}
#contact-form label {
  text-align: right;
  margin-top: 4px;
}
#contact-form input[type='text'] {
  width: 396px;
  border: 1px solid #767777;
  height: 20px;
}
.contact {
  color: #767777;
}
.button {
  background-color: #7F8184;
  color: #FFFFFF;
  padding: 5px 10px 3px;
  border: none;
}
.button:active {
  background-color: #A6A7A8;
}
.error-box {
  background-color: #FFEAEB;
  color: red;
  padding: 15px;
  margin-bottom: 15px;
}
#festival-content {
  margin-top: 15px;
  /*
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-count: 3;
  -webkit-column-gap: 15px;
    -moz-column-gap: 15px;

    */

  text-align: justify;
  line-height: 15px;
}
.festival-col {
  float: left;
  width: 31%;
  padding-left: 1%;
  padding-right: 1%;
}
#festival-title h2 {
  text-transform: uppercase;
  font-size: 300%;
  margin-top: 15px;
}
#festival-text {
  text-align: justify;
}
#entradas-content {
  margin-top: 15px;
}
.first-day {
  margin-left: 26px;
}
.calendario-dia-top {
  margin-top: 72px;
}
.ver-dia-dia-top {
  margin-top: 5px;
}
.ver-dia-data-top {
  font-weight: bold;
  font-size: 110%;
  height: 88px;
  top: 23px;
  left: 0;
  position: absolute;
  width: 104px;
}
.calendario-item {
  text-align: center;
  line-height: 35px;
  display: inline-block;
  height: 88px;
  position: relative;
}
.calendario-data {
  font-weight: bold;
  height: 88px;
  top: 93px;
  left: 0;
  position: absolute;
  width: 104px;
}
.ver-dia {
  left: 40px;
}
.calendario-data-top {
  font-weight: bold;
  font-size: 110%;
  height: 88px;
  top: 93px;
  left: 0;
  position: absolute;
  width: 104px;
}
.calendario-data-comun {
  font-weight: bold;
  font-size: 110%;
  height: 88px;
  top: 20px;
  left: 0;
  position: absolute;
  width: 104px;
}
.dia-gris {
  color: #888888;
}
.dia-azul {
  color: #000;
}
.dia-actual {
  color: #FFF;
}
.domingo {
  color: red;
}
.triangle-small {
  z-index: 100;
}
#link-salas {
  position: absolute;
  left: 335px;
}
#link-prensa {
  position: absolute;
  left: 526px;
  top: 170px;
}
#link-montevideo {
  position: absolute;
  left: 336px;
  top: 170px;
}
#link-maldonado {
  position: absolute;
  left: 146px;
  top: 333px;
}
#link-entradas {
  position: absolute;
  left: 715px;
  top: 333px;
}
#link-san-jose {
  position: absolute;
  left: 716px;
  top: 170px;
}
#link-actividades {
  position: absolute;
  left: 716px;
  top: 333px;
}
#link-extension-social {
  position: absolute;
  left: 336px;
  top: 494px;
}
#link-punto-de-encuentro {
  position: absolute;
  left: 335px;
  top: 333px;
}
#link-novedades {
  position: absolute;
  left: 526px;
  top: 333px;
}
#pdf {
  margin-left: 25px;
  width: 35px;
  display: inline-block;
  text-transform: uppercase;
  height: 88px;
  top: 70px;
  left: 744px;
  position: absolute;
  color: #767777;
  font-size: 90%;
  text-decoration: none;
}
.no-word-spacing {
  word-spacing: normal;
}
.salas_column {
  width: 50%;
  display: inline;
  float: left;
  position: relative;
}
.salas_column h2 {
  text-transform: uppercase;
}
.sala-item {
  height: 105px;
  border-bottom: 4px double #666666;
}
.sala-item .data {
  padding: 10px 10px 10px 5px !important;
}
.sala-item.first {
  border-top: 4px double #666666;
}
.sala-item.first-col {
  border-left: none;
}
.sala-item.second-col {
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  padding-left: 10px;
}
.sala-item.third-col {
  border-left: 1px solid #666;
  padding-left: 10px;
}
.sala-item.blank {
  padding: 0px !important;
  height: 105px;
}
.sala-pad-left {
  padding-left: 10px;
}
/*
.salas-wrapper{ height: 455px; overflow: hidden; margin-top: 10px;}
.salas-content{position:relative; top:0px; }
*/
/* Styles specific to this particular page */
.salas-wrapper {
  width: 100%;
  height: 455px;
  overflow: auto;
}
.horizontal-only {
  height: auto;
  max-height: 200px;
}
.jspVerticalBar {
  display: none;
}
#top-bottom-handles {
  margin-top: 10px;
  margin-bottom: 10px;
}
.handle {
  cursor: pointer;
}
#news-wrapper {
  margin-top: 15px;
}
#news-wrapper h2 a {
  text-decoration: none;
  color: #333;
}
.news-item {
  border-top: 4px double #666;
}
.news-item.last {
  border-bottom: 4px double #666;
}
.news-image {
  padding-top: 10px;
  border-right: 4px double #666;
}
.news-excerpt {
  padding-top: 10px;
  text-align: justify;
}
.news-date {
  font-size: 85%;
  color: #777777;
}
.news-excerpt h2 {
  margin-bottom: 20px;
  font-size: 130%;
}
.excerpt {
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
}
.more-link a {
  float: right;
  text-decoration: none;
  color: #666;
  padding-right: 5px;
  padding-top: 5px;
}
#news-item-body {
  padding-top: 15px;
  -moz-column-count: 2;
  -moz-column-gap: 15px;
  font-size: 90%;
  text-align: justify;
}
.news-single-head {
  height: 210px;
}
#news-item-view {
  margin-top: 15px;
}
.news-single-head h1 {
  margin-bottom: 35px;
}
.news-single-head em {
  font-size: 90%;
  font-style: italic;
}
#day-long {
  text-transform: uppercase;
}
#day-number {
  font-size: 130%;
}
.day-item {
  min-height: 266px;
  border-bottom: 4px double #666;
  padding-top: 4px;
}
.day-item.index-3,
.day-item.index-4 {
  margin-top: -4px;
}
.day-item.alpha {
  border-right: 4px double #666;
  margin-left: -4px;
}
.day-item.omega {
  margin-left: -6px;
}
.day-item .wrap {
  margin: 5px;
}
.day-item h2 {
  margin: 5px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 4px double #666;
}
.day-item h2 a {
  text-decoration: none;
  color: #666;
}
.day-item h3 {
  border-bottom: 1px solid #666;
  width: 182px;
}
.day-funciones {
  font-style: italic;
  font-size: 95%;
}
.day-event-details {
  border-bottom: 4px double #666;
  margin: 5px;
}
.day-event-sala {
  margin: 5px;
}
.day-item h4 {
  border-bottom: 1px solid #666;
}
.badge {
  display: block;
  height: 30px;
  left: 10px;
  top: 10px;
  position: absolute;
  width: 80px;
  z-index: 10;
}
.badge-teatro-nacional,
.badge-teatro-reposicion,
.badge-teatro-interior {
  width: 100px;
  background: url("../img/badge-teatro-nacional.png") no-repeat scroll left top transparent;
}
.badge-teatro-internacional {
  width: 120px;
  background: url("../img/badge-teatro-internacional.png") no-repeat scroll left top transparent;
}
.badge-danza-nacional {
  width: 100px;
  background: url("../img/badge-danza-nacional.png") no-repeat scroll left top transparent;
}
.badge-danza-internacional {
  width: 120px;
  background: url("../img/badge-danza-internacional.png") no-repeat scroll left top transparent;
}
.badge-acad_talleres {
  background: url("../img/badge-talleres.png") no-repeat scroll left top transparent;
}
.badge-acad_charlas {
  background: url("../img/badge-charlas.png") no-repeat scroll left top transparent;
}
.badge-acad_mesas {
  background: url("../img/badge-mesas.png") no-repeat scroll left top transparent;
}
.badge-acad_escuela {
  background: url("../img/badge-escuela.png") no-repeat scroll left top transparent;
}
.badge-acad_coloquio {
  background: url("../img/badge-coloquio.png") no-repeat scroll left top transparent;
}
.badge-acad_seminario {
  background: url("../img/badge-seminario.png") no-repeat scroll left top transparent;
}
.calendar-main a {
  text-decoration: none;
}
.bottom-pagination {
  margin: 10px;
  height: 16px;
}
.bottom-pagination a {
  text-decoration: none;
  vertical-align: top;
}
.bottom-pagination strong {
  vertical-align: top;
}
#prev-pag {
  margin-right: 20px;
  display: inline-block;
}
#next-pag {
  margin-left: 25px;
  display: inline-block;
}
.files-index {
  color: #D9CA97;
  font-size: 29px;
}
#files_wrapper h2 {
  font-size: 120%;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #666666;
}
.files_column {
  display: inline;
  float: left;
  margin-left: 12px;
  position: relative;
  width: 31.5%;
  min-height: 300px;
}
.file-type {
  float: left;
  color: #FFF;
  padding: 11px 9px 11px 9px;
  background-color: #000;
  display: inline-block;
  font-weight: bold;
  cursor: default;
}
.file-data {
  display: inline-block;
  float: left;
  padding-left: 5px;
  height: 37px;
}
.file-links {
  word-spacing: 10px;
  margin-top: 7px;
  display: inline-block;
}
.file-links a {
  text-decoration: none;
  color: #767777;
}
.file-item {
  clear: right;
  display: inline-block;
  margin-bottom: 15px;
  min-height: 60px;
}
.file-item a {
  float: left;
}
.no-link {
  cursor: default;
}
#cierre-title img {
  margin-left: 10px;
}
h1.cierre {
  font-size: 32px;
  border-top: 1px solid #666;
  margin-top: 10px;
  padding-top: 10px;
  line-height: 45px;
  border-bottom: 1px solid #666;
  padding-bottom: 12px;
}
.cierre-top {
  border-top: 4px double #666666;
}
.nivoSlider {
  position: relative;
  width: 370px;
  /* Change this to your images width */

  height: 250px;
  /* Change this to your images height */

  background: url(loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.nivoSlider a {
  border: 0;
  display: block;
}
#slider {
  margin-top: 10px;
}
#festival-content.cierre p {
  margin-bottom: 15px;
  color: #888;
  font-size: 110%;
  line-height: 135%;
  word-spacing: 2px;
}
.tooltip {
  cursor: pointer;
}
#files_wrapper h2.parent_folder {
  font-size: 130%;
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}
#cierre-title a {
  margin-bottom: 5px;
}
hr {
  color: #f5f5f5;
}
.nivoSlider-2012 {
  position: relative;
  width: 755px;
  /* Change this to your images width */

  height: 503px;
  /* Change this to your images height */

  background: url(loading.gif) no-repeat 50% 50%;
  margin-top: 10px;
}
.nivoSlider-2012 img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.nivoSlider-2012 a {
  border: 0;
  display: block;
}
#zamit {
  float: right;
  padding-right: 10px;
  color: #666;
}
#exposiciones {
  display: none;
}
/* MAU */
.mau {
  color: #000;
  font-size: 13px;
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
}
.mau-header {
  margin-bottom: 15px;
  line-height: 18px;
}
.mau-left {
  float: left;
}
.mau-right {
  float: right;
}
.mau-column {
  width: 45%;
  border-top: 3px solid #D30022;
  padding-top: 15px;
}
.mau-column p {
  margin-bottom: 15px;
}
.mau-column-title {
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  padding: 11px 4px 8px 4px;
  margin-bottom: 15px;
  background-color: #D30022;
  font-weight: normal;
  font-size: 14px;
}
.mau-column-text {
  line-height: 20px;
}
.mau-footer {
  border-top: 3px solid #D30022;
  border-bottom: 3px solid #D30022;
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 18px;
  margin-bottom: 40px;
}
.mau-circle {
  margin-left: 40%;
}
